.sign {
    float: left; /* Выравнивание по правому краю */
	margin-left: 3em;
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
   }
.sign figcaption {
    text-align: center; /* Отступы вокруг абзаца */
}
