<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
	   Simplesite: 
	<a href="/index">Home</a>
	<a href="/show">Show</a>
	</div>
    <hr>
    {% block content %}
	{% endblock %}
  </body>
</html>