{% extends "base.html" %}
{% block content %}
{% if username %}
<h1>Привет, {{username}}!</h1>
{% else %}
<h1>Привет!</h1>
{% endif %}
<div>
	<h1>Перейди по ссылке <a href="/show">show</a> чтобы увидеть график</h1>
</div>
{% endblock %}