{% extends "base.html" %}

{% block content %}
    <h1>Добро пожаловать</h1>
    <form action="" method="post">
			{{ form.hidden_tag() }}
		<p> {{ form.username }} </p>
        <p> {{ form.submit }} </p>
    </form>
	<hr>
{% endblock %} 