{% extends "base.html" %}

{% block content %}
	<h2>Введите данные полей, зависимоть которых хотите увидеть</h2>
	<h3>Возможные варианты: Возраст, Стаж вождения, Убыточность, Уровень заработной платы</h3>
    <form action="" method="post" novalidate>	
        {{ form.hidden_tag() }}
		<p>{{ form.first() }}</p>
		<p>{{ form.second() }}</p>
		<h2>Показать график</h2>
		<p>{{ form.submit() }}</p>
    </form>
	<hr>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="text-align: center">
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
	{% if form.first.data and form.second.data %}
	{% if image2 and image1 %} <!--url_for('static', filename='images/mygraph2.img')-->
	<div style="margin: center">
		<figure class="sign" style="float:left; margin-left: 3em">
			<p> 
				<img src="{{ url_for('static', filename='images/mygraph1.png') }}" width="600" height="500" alt="картинка1" />
			</p> 
			<figcaption>Рисунок 1. Зависимость данных</figcaption>
		</figure>
		<figure class="sign" style="float:right; margin-right: 3em">
			<p>
				<img src="{{ url_for('static', filename='images/mygraph2.png') }}" width="600" height="500"  alt="картинка1" />
			</p> 
			<figcaption>Рисунок 2. Кластеризация данных</figcaption>
		</figure>
	</div>
	{% endif %}
	{% endif %}
{% endblock %} 